.storage {
    text-align: center;
    padding: 20px;
  margin-left: 260px;
}

.storage h1 {
    margin-bottom: 20px;
}
  
  
  .galeria {
    display: flex; /* Utilizar flexbox */
  flex-wrap: wrap; /* Permitir que las cards se envuelvan en filas */
  justify-content: center; /* Centrar las cards horizontalmente */
  gap: 20px;
  }
  
  .Card {
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 40px; 
  }
  
  .Card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }