.contact {
    padding: 20px;
    margin-left: 150px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 0.5;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
  }
  
  .contact label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .contact input,
  .contact textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .contact textarea {
    resize: vertical;
  }
  
  .contact input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #0056b3;
  }