.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-right: 5%;
  }
  
  .search-input {
    flex: 1;
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
  }
  
  .resultados {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 100%;
    width: 100%;
  }
  
  .resultados ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .resultados li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .resultados img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .resultados h3,
  .resultados p {
    margin: 0;
    font-size: smaller;
  }
  