.home {
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .home h1 {
    margin-bottom: 20px;
  }
  
  .home p {
    margin-bottom: 10px;
  }

  .texto {
    flex: 1;
    max-width: 100%;
   
    box-sizing: border-box;
  }

  .slider {
    flex: 1;
    max-width: 100%;
  }

  .botonShop {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  