  .sidebar {
    height: 100%;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3075bb;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar nav {
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    color: #ddd;
  }

  .logo-container {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
  }
  
  .logo {
    width: 120px;
    height: auto;
  }